<h1>List: <%= @list.name %></h1>

<p>This list has <%= @list.tokens.size %> <%= 'token'.pluralize @list.tokens.size %>.</p>

<%= render @list.tokens %>

<h2>Add a token:</h2>
<%= render 'tokens/form' %>

<%= link_to 'Back to all lists', lists_path %>